.user-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    justify-content: center;
    margin: 50px auto;
    max-width: 600px;
}

.user-form>* {
    font-size: 1.2em;
    margin: 15px;
}

.user-form>input,
.user-form>button {
    padding: 20px;
    border: 1px solid #BDBDBD;
}

.title {
    margin: 16px auto;
}

.confirm-button {
    color: white;
    background-color: #007AFF;
}