
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.logo {
    font-size: 2em;
    font-weight: 400;
    color: firebrick;
}

.login {
    font-size: 0.8em;
    background-color: cornflowerblue;
    color: white;
    padding: 3px 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.login:hover {
    opacity: 80%;
}

.categories > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    padding: 0;
}

.categories > ul > li {
    flex-grow: 1;
    padding: 0.3rem;
    font-weight: 500;
    border: 2px solid;
    color:aliceblue;
    opacity: 0.7;
}

.categories > ul > li:hover {
    opacity: 1;
}

.categories > ul > li > a {
    text-align: center;
    color: inherit;
    display: block;
}

.categories > ul > li {
    background-color: brown;
}

.categories >ul > li:nth-child(3n) {
    background-color: brown;
}

.categories >ul > li:nth-child(3n+1) {
    background-color: darkcyan;
}

.categories >ul > li:nth-child(3n+2) {
    background-color: coral;
}

.article {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 15px;
}

.art-content {
    text-align: justify;
    font-weight: 400;
}

.art-header {
    margin: 0;
}

.art-info {
    font-size: 0.8rem;
    color: rgb(53, 26, 9)
}

.art-link,
.art-link:visited {
    word-wrap: break-word;
    color: #007AFF;
}

.vote-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

.votes-number {
    display: inline;
    color: #007AFF;
}

.vote-bar > p {
    margin: 0 4px;
}

.vote-up,
.vote-down
{
    color: darkgray;
}

.vote-up:hover {
    color: blue;
}

.vote-down:hover {
    color: red;
}

footer {
    margin-top: 15px;
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}